<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Tambah data Rekapitulasi</h1>
        </div>
      </div>
    </base-header>
  </div>

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <card shadow type="secondary">
          <template v-slot:header>
            <div class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Isikan rekapitulasi penyewaan gedung</h3>
                </div>
                <!-- <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                  </div> -->
              </div>
            </div>
          </template>

          <form v-on:submit.prevent>
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
            <div class="pl-lg-4">
            
              <div class="row">
                <div class="col-lg-6">
                  <base-input
                    alternative=""
                    label="Pilih Gedung"
                    placeholder="tempat lahir"
                    input-classes="form-control-alternative"
                  >
                    <select
                      class="custom-select"
                      v-model="rekap.m_id_gedung"
                    >      
                      <option v-for="gedung in gedungs.data" :key="gedung.id_gedung" :value="gedung.id_gedung"> {{ gedung.nama_gedung }} </option>
                    </select>
                  </base-input>
                </div>
                <div class="col-lg-6">
                  <base-input
                    alternative=""
                    type="date"
                    label="Pilih Kegiatan"
                    placeholder="dd/mm/yy"
                    input-classes="form-control-alternative"
                  >
                    <select
                      class="custom-select"
                      v-model="rekap.m_id_kegiatan"
                    >
                      <option v-for="keg in kegiatans.data" :key="keg.id_kegiatan" :value="keg.id_kegiatan"> {{ keg.nama_kegiatan }} </option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <div class="col text-right">
                  <button
                      type="submit"
                      class="btn btn-primary"
                      @click="postRekap"
                    >
                      Tambah Rekap
                    </button>
                  
                </div>
              </div>
              <hr class="my-4" />
              <h3>{{ rekap }}</h3>
            </div>
          </form>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Tambah Penjaga",
  components: {},
  data() {
    return {
      rekap: {},
      gedungs:[],
      kegiatans:[]
    };
  },
  methods:{
    getGedungs(data){
      this.gedungs = data;
    },
    getKegiatans(data){
      this.kegiatans = data;
    },
    postRekap(){
      console.log(this.rekap);
      axios
        .post("http://127.0.0.1:8000/api/rekap", this.rekap)
        .then(() => {
          console.log("post berhasil");
          this.$router.push({ path: "/rekap" });
        })
        .catch((err) => console.log(err));
    }
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/gedung")
      .then((response) => {
        console.log(response.data);
        this.getGedungs(response.data);
      })
      .catch((error) => console.log(error));

    axios
      .get("http://127.0.0.1:8000/api/kegiatan")
      .then((response) => {
        console.log(response.data);
        this.getKegiatans(response.data);
      })
      .catch((error) => console.log(error));
  },
};
</script>
<style></style>
