<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Tambah data peminjam</h1>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Isikan informasi peminjam baru</h3>
                  </div>
                  <!-- <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                  </div> -->
                </div>
              </div>
            </template>

            <form v-on:submit.prevent>
              <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="NIM / KTP"
                      placeholder="NIM / KTP"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="number"
                        class="form-control"
                        placeholder="nim / ktp"
                        v-model="peminjam.nim_ktp"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Status"
                      placeholder="Status peminjam"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="status"
                        v-model="peminjam.status"
                      />
                    </base-input>
                    <!-- <input type="text" name="status" id="status" placeholder="status"> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <base-input
                      alternative=""
                      label="Nama"
                      placeholder="Nama lengkap"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nama lengkap"
                        v-model="peminjam.nama_peminjam"
                      />
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="E-mail"
                      placeholder="email@gmail.com"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="email"
                        class="form-control"
                        placeholder="e-mail"
                        v-model="peminjam.email"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-3">
                    <base-input
                      alternative=""
                      label="No. HP"
                      placeholder="xxxx-xxxx-xxxx"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="number"
                        class="form-control"
                        placeholder="No. HP"
                        v-model="peminjam.nomor_hp"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-3">
                    <base-input
                      alternative=""
                      label="Jenis Kelamin"
                      placeholder="L / P"
                      input-classes="form-control-alternative"
                    >
                      <select
                        class="custom-select"
                        v-model="peminjam.jenis_kelamin"
                      >
                        <option disabled value="asd">
                          Pilih jenis kelamin
                        </option>
                        <option value="Laki-laki">Laki-laki</option>
                        <option value="Perempuan">Perempuan</option>
                      </select>
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      @click="postPeminjam"
                    >
                      Tambah Peminjam
                    </button>
                  </div>
                </div>
                <hr class="my-4" />
                <h3>{{ peminjam }}</h3>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Tambah Peminjan",
  data() {
    return {
      peminjam: {},
    };
  },
  methods: {
    postPeminjam() {
      console.log(this.peminjam);
      axios
        .post("http://127.0.0.1:8000/api/peminjam", this.peminjam)
        .then(() => {
          console.log("post berhasil");

          this.$router.push({ path: "/peminjam" });
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>
<style></style>
