<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">
            Edit Data Kegiatan {{ $route.params.id_kegiatan }}
          </h1>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Isikan informasi kegiatan</h3>
                  </div>
                  <!-- <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                  </div> -->
                </div>
              </div>
            </template>

            <form>
              <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Nama Kegiatan"
                      placeholder="Nama kegiatan"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nama kegiatan"
                        v-model="kegiatan.nama_kegiatan"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Instansi"
                      placeholder="Instansi peminjam"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nama kegiatan"
                        v-model="kegiatan.instansi"
                      />
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Peminjam"
                      placeholder="peminjam"
                      input-classes="form-control-alternative"
                    >
                      <select
                        class="custom-select"
                        v-model="kegiatan.m_id_peminjam"
                      >
                        <option
                          v-for="peminjam in peminjams.data"
                          :key="peminjam.id_peminjam"
                          :value="peminjam.id_peminjam"
                        >
                          {{ peminjam.nama_peminjam }}
                        </option>
                      </select>
                    </base-input>
                  </div>
                  <div class="col-lg-3">
                    <base-input
                      alternative=""
                      label="Tanggal Mulai"
                      placeholder="DD-MM-YYYY"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="date"
                        class="form-control"
                        placeholder="Tanggal lahir"
                        v-model="kegiatan.tanggal_mulai"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-3">
                    <base-input
                      alternative=""
                      label="Tanggal Akhir"
                      placeholder="DD-MM-YYYY"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="date"
                        class="form-control"
                        placeholder="Tanggal lahir"
                        v-model="kegiatan.tanggal_akhir"
                      />
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      @click="updateKegiatan"
                    >
                      Update Kegiatan
                    </button>
                  </div>
                </div>
                <hr class="my-4" />
                <h5>{{ kegiatan }}</h5>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Update Kegiatan",
  data() {
    return {
      peminjams: [],
      kegiatan: [],
    };
  },
  methods: {
    getPeminjams(data) {
      this.peminjams = data;
    },
    setKegiatan(data) {
      this.kegiatan = data;
    },
    updateKegiatan() {
       axios
        .put("http://127.0.0.1:8000/api/kegiatan/" + this.$route.params.id_kegiatan, this.kegiatan)
        .then(() => {
          console.log("update data berhasil");

          this.$router.push({ path: "/kegiatan" });
        })
        .catch((err) => console.log(err));
    },
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/peminjam")
      .then((response) => {
        console.log(response.data);
        this.getPeminjams(response.data);
      })
      .catch((error) => console.log(error));

    axios
      .get(
        "http://127.0.0.1:8000/api/kegiatan/" + this.$route.params.id_kegiatan)
      .then((response) => {
        // console.log(response.data);
        this.setKegiatan(response.data.data);
        console.log(this.kegiatan);
      })
      .catch((error) => console.log(error));
  },
};
</script>
<style></style>
