<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Tambah tim kebersihan</h1>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Isikan nama tim kebersihan</h3>
                  </div>
                </div>
              </div>
            </template>

            <form>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-12">
                    <base-input
                      alternative=""
                      label="Nama tim"
                      placeholder="Nama tim "
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nama Tim Kebersihan"
                        v-model="timbersih.nama_tim"
                      />
                    </base-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col text-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      @click="postTim"
                    >
                      Tambah Tim
                    </button>
                  </div>
                </div>
                <hr class="my-4" />
                <h3>{{ timbersih }}</h3>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Tim Bersih",
  data() {
    return {
      timbersih:{}
    };
  },
  methods:{
    postTim(){
      console.log(this.timbersih);
      axios
        .post("http://127.0.0.1:8000/api/tim", this.timbersih)
        .then(() => {
          console.log("post berhasil");
          this.$router.push({ path: "/timbersih" });
        })
        .catch((err) => console.log(err));
    }
  },
  mounted(){

  }
};
</script>
<style></style>
