<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Tambah Data Gedung</h1>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Tambah Data Gedung</h3>
                  </div>
                </div>
              </div>
            </template>

            <form>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Nama Gedung"
                      placeholder="Nama Gedung"
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nama gedung"
                        v-model="gedung.nama_gedung"
                    />
                    </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Kapasitas"
                      placeholder="Kapasitas gedung"
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Kapasitas"
                        v-model="gedung.kapasitas"
                    />
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Fasilitas"
                      placeholder="Fasilitas Gedung"
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Fasilitas Gedung"
                        v-model="gedung.fasilitas"
                    />
                    </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Luas"
                      placeholder="Luas Gedung"
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Luas Gedung"
                        v-model="gedung.luas"
                    />
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="ID Penjaga"
                      placeholder="000"
                      input-classes="form-control-alternative"
                    >
                    <select
                      class="custom-select"
                      v-model="gedung.m_id_penjaga"
                    >
                      <option v-for="penjaga in penjagas.data" :key="penjaga.id_penjaga" :value="penjaga.id_penjaga"> {{ penjaga.nama_penjaga }} </option>
                    </select>
                  </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="ID Tim Kebersihan"
                      placeholder="000"
                      input-classes="form-control-alternative"
                      >
                    <select
                      class="custom-select"
                      v-model="gedung.m_id_tim_kebersihan"
                    >
                      <option v-for="tim in timbersihs.data" :key="tim.id" :value="tim.id"> {{ tim.nama_tim }} </option>
                    </select>
                  </base-input>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <div class="row">
                  <div class="col text-right">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      @click="postGedung"
                    >
                      Tambah Gedung
                    </button>
                  </div>
                </div>
                <hr class="my-4" />
                <h3>{{gedung}}</h3>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Tambah Gedung",
  data() {
    return {
      gedung: {},
      timbersihs:{},
      penjagas:{}
    };
  },
  methods:{
    getTimBersih(data){
      this.timbersihs = data;
    },
    getPenjaga(data){
      this.penjagas = data;
    },
    postGedung(){
      console.log(this.gedung);
      axios
        .post("http://127.0.0.1:8000/api/gedung", this.gedung)
        .then(() => {
          console.log("post berhasil");
          // this.$router.push({ path: "/gedung" });
        })
        .catch((err) => console.log(err));
    }
  },
  mounted(){
    axios
      .get("http://127.0.0.1:8000/api/tim")
      .then((response) => {
        console.log(response.data);
        this.getTimBersih(response.data);
      })
      .catch((error) => console.log(error));

    axios
      .get("http://127.0.0.1:8000/api/penjaga")
      .then((response) => {
        console.log(response.data);
        this.getPenjaga(response.data);
      })
      .catch((error) => console.log(error));
  }
};
</script>
<style></style>
