<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Edit Data Gedung {{nama}}</h1>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Edit data gedung {{nama}}</h3>
                  </div>
                  <!-- <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                  </div> -->
                </div>
              </div>
            </template>

            <form>
              <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Nama Gedung"
                      placeholder="Nama Gedung"
                      input-classes="form-control-alternative"
                      v-model="model.nama_gedung"
                    />
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Kapasitas"
                      placeholder="Kapasitas gedung"
                      input-classes="form-control-alternative"
                      v-model="model.kapasitas"
                    />
                    <!-- <input type="text" name="status" id="status" placeholder="status"> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Luas"
                      placeholder="Luas Gedung"
                      input-classes="form-control-alternative"
                      v-model="model.luas"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <base-input alternative="" label="Fasilitas">
                    <textarea
                      rows="4"
                      class="form-control form-control-alternative"
                      placeholder="A few words about you ..."
                    >Speaker, Wifi, Kursi</textarea
                    >
                  </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="ID Penjaga"
                      placeholder="000"
                      input-classes="form-control-alternative"
                      v-model="model.m_id_penjaga"
                    />
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="ID Tim Kebersihan"
                      placeholder="000"
                      input-classes="form-control-alternative"
                      v-model="model.m_id_tim_kebersihan"
                    />
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <div class="row">
                  <div class="col text-right">
                    <base-button type="primary" size="md"
                      >Edit Gedung</base-button
                    >
                  </div>
                </div>
                <hr class="my-4" />
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "user-profile",
  data() {
    return {
      model: {
        nama_gedung: "",
        kapasitas: "",
        fasilitas: "",
        luas: "",
        m_id_penjaga: "",
        m_id_tim_kebersihan: "",
      },
    };
  },
};
</script>
<style></style>
