<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Update data Kebersihan</h1>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <template v-slot:header>
              <div class="bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">
                      Isikan informasi anggota kebersihan
                    </h3>
                  </div>
                </div>
              </div>
            </template>

            <form v-on:submit.prevent>
              <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Nama"
                      placeholder="Nama Lengkap"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nama Anggota"
                        v-model="bersih.nama"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Nama Tim Kebersihan"
                      input-classes="form-control-alternative"
                    >
                      <select
                        class="custom-select"
                        v-model="bersih.m_id_tim_kebersihan"
                      >
                        <option
                          v-for="tim in timbersih.data"
                          :key="tim.id"
                          :value="tim.id"
                        >
                          {{ tim.nama_tim }}
                        </option>
                      </select>
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="KTP / NIM"
                      placeholder="Nomor KTP/NIM"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="KTP"
                        v-model="bersih.ktp"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Nomor Hp"
                      placeholder="+62xxxxxxx"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nomor HP"
                        v-model="bersih.nomor_hp"
                      />
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <base-input
                      alternative=""
                      label="Tempat Lahir"
                      placeholder="Tempat lahir"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Tempat Lahir"
                        v-model="bersih.tempat_lahir"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-3">
                    <base-input
                      alternative=""
                      label="Tanggal Lahir"
                      placeholder="DD-MM-YYYY"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="date"
                        class="form-control"
                        placeholder="Tanggal lahir"
                        v-model="bersih.tanggal_lahir"
                      />
                    </base-input>
                  </div>
                  <div class="col-lg-3">
                    <base-input
                      alternative=""
                      label="Jenis Kelamin"
                      placeholder="L / P"
                      input-classes="form-control-alternative"
                    >
                      <select
                        class="custom-select"
                        v-model="bersih.jenis_kelamin"
                      >
                        <option disabled value="asd">
                          Pilih jenis kelamin
                        </option>
                        <option value="Laki-laki">Laki-laki</option>
                        <option value="Perempuan">Perempuan</option>
                      </select>
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <base-input
                      alternative=""
                      label="Alamat"
                      input-classes="form-control-alternative"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Alamat"
                        v-model="bersih.alamat"
                      />
                    </base-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col text-right">
                   <button
                      type="submit"
                      class="btn btn-primary"
                      @click="updateKebersihan"
                    >
                      Update Anggota Kebersihan
                    </button>
                  </div>
                </div>
                <hr class="my-4" />
                <h3>{{ bersih }}</h3>
              </div>
            </form>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Tambah Kebersihan",
  data() {
    return {
      bersih:{},
      timbersih:{}
    };
  },
  methods:{
    setBersih(data){
      this.bersih = data;
    },
    getTimbersih(data){
      this.timbersih = data;
    },
    updateKebersihan(){
      axios
        .put("http://127.0.0.1:8000/api/kebersihan/" + this.$route.params.id, this.bersih)
        .then(() => {
          console.log("update data berhasil");

          this.$router.push({ path: "/kebersihan" });
        })
        .catch((err) => console.log(err));
    }
  },
  mounted(){
    axios
      .get(
        "http://127.0.0.1:8000/api/kebersihan/" + this.$route.params.id
      )
      .then((response) => {
        // console.log(response.data);
        this.setBersih(response.data.data);
        console.log(this.bersih);
      })
      .catch((error) => console.log(error));
    axios
      .get("http://127.0.0.1:8000/api/tim")
      .then((response) => {
        console.log(response.data);
        this.getTimbersih(response.data);
      })
      .catch((error) => console.log(error));
  }
};
</script>
<style></style>
