<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8">
          <img src="../../public/img/brand/ub_putih.png" class="img-fluid mb-5" width="" alt="ahsda">
        </div>
      </div>
    </base-header>
    <div class="container-fluid mt--7">
      
      <div class="row justify-content-center">
        <div class="col-lg-8">
           <h1 class="text-center text-white">
            Pengelolaan penyewaan gedung Kampus Universitas Brawijaya Malang
          </h1>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
};
</script>
<style></style>
