<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Daftar Gedung UB</h1>
        </div>
      </div>
    </base-header>
  </div>

  <!-- Table penjaga -->

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <!-- <projects-table title="Tabel Penjaga"></projects-table> -->
        <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
          <div
            class="card-header border-0"
            :class="type === 'dark' ? 'bg-transparent' : ''"
          >
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">
                  {{ title }}
                </h3>
              </div>
              <div class="col text-right">
                <router-link to="/gedung/tambah">
                  <base-button type="primary" size="sm" class="text-white">
                    Tambah Gedung
                  </base-button>
                </router-link>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nama Gedung</th>
                  <th scope="col">Kapasitas</th>
                  <th scope="col">Fasilitas</th>
                  <th scope="col">Luas</th>
                  <th scope="col">ID Penjaga</th>
                  <th scope="col">ID Tim Kebersihan</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(gedung, index) in gedungs.data"
                  :key="gedung.id_gedung"
                >
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ gedung.nama_gedung }}</td>
                  <td>{{ gedung.kapasitas }}</td>
                  <td>{{ gedung.fasilitas }}</td>
                  <td>{{ gedung.luas }}</td>
                  <td>{{ gedung.m_id_penjaga }}</td>
                  <td>{{ gedung.m_id_tim_kebersihan }}</td>
                  <th>
                    <router-link class="btn btn-sm btn-info" :to="'/gedung/update/'+gedung.id_gedung">Update</router-link>
                    <button
                      type="submit"
                      class="btn btn-sm btn-danger ml-3"
                      @click="delGedung(gedung.id_gedung)"
                    >
                      Delete
                    </button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            class="card-footer d-flex justify-content-end"
            :class="type === 'dark' ? 'bg-transparent' : ''"
          >
            <base-pagination total="30"></base-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table Gedung -->
</template>

<script>
// import ProjectsTable from "./Tables/ProjectsTable";
import axios from "axios";

export default {
  name: "Gedung",
  components: {},
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      gedungs: [],
    };
  },
  methods: {
    getGedung(data) {
      this.gedungs = data;
    },
    delGedung(id) {
      console.log(id);

      axios
        .delete("http://127.0.0.1:8000/api/gedung/" + id)
        .then((response) => {
          console.log("Berhasil dihapus" + response.data);

          //biar sprt reload
          axios
            .get("http://127.0.0.1:8000/api/gedung")
            .then((response) => {
              console.log(response.data);
              this.getGedung(response.data);
            })
            .catch((error) => console.log(error));
        })
        .catch((error) => console.log(error));
    },
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/gedung")
      .then((response) => {
        console.log(response.data);
        this.getGedung(response.data);
      })
      .catch((error) => console.log(error));
  },
};
</script>

<style></style>