<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Rekapitulasi penyewaan Gedung UB</h1>
        </div>
      </div>
    </base-header>
  </div>

  <!-- Table penjaga -->

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <!-- <projects-table title="Tabel Penjaga"></projects-table> -->
        <div class="card shadow" :class="type === 'dark' ? 'bg-default' : ''">
          <div
            class="card-header border-0"
            :class="type === 'dark' ? 'bg-transparent' : ''"
          >
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0" :class="type === 'dark' ? 'text-white' : ''">
                  {{ title }}
                </h3>
              </div>
              <div class="col text-right">
                <router-link to="/rekap/tambah">
                  <base-button type="primary" size="sm" class="text-white">
                    Tambah Rekap
                  </base-button>
                </router-link>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-borderless table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nama Gedung</th>
                  <th scope="col">Nama kegiatan</th>
                  <th scope="col">Tanggal Mulai</th>
                  <th scope="col">Tanggal selesai</th>
                  <th scope="col">Nama Peminjam</th>
                  <th scope="col">Instansi</th>
                  <th scope="col">Penjaga</th>
                  <th scope="col">Kebersihan</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(rekap, index) in rekaps.data"
                  :key="rekap.id_rekap"
                >
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ rekap.nama_gedung }}</td>
                  <td>{{ rekap.nama_kegiatan }}</td>
                  <td>{{ rekap.tanggal_mulai }}</td>
                  <td>{{ rekap.tanggal_akhir }}</td>
                  <td>{{ rekap.nama_peminjam }}</td>
                  <td>{{ rekap.instansi }}</td>
                  <td>{{ rekap.nama_penjaga }}</td>
                  <td>{{ rekap.nama_tim }}</td>
                  <th>
                    <router-link class="btn btn-sm btn-info" :to="'/rekap/update/'+rekap.id_rekap">Update</router-link>
                    <button
                      type="submit"
                      class="btn btn-sm btn-danger ml-3"
                      @click="delRekap(rekap.id_rekap)"
                    >
                      Delete
                    </button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>

          <div
            class="card-footer d-flex justify-content-end"
            :class="type === 'dark' ? 'bg-transparent' : ''"
          >
            <base-pagination total="30"></base-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table penjaga -->
</template>

<script>
// import ProjectsTable from "./Tables/ProjectsTable";
import axios from "axios";

export default {
  name: "Rekapitulasi",
  components: {},
  props: {
    type: {
      type: String,
    },
    title: String,
  },
  data() {
    return {
      rekaps: [],
    };
  },
  methods: {
    getRekaps(data) {
      this.rekaps = data;
    },
    delRekap(id) {
      console.log(id);
      axios
        .delete("http://127.0.0.1:8000/api/rekap/" + id)
        .then((response) => {
          console.log("Berhasil dihapus" + response.data);

          axios
            .get("http://127.0.0.1:8000/api/rekap")
            .then((response) => {
              console.log(response.data);
              this.getRekaps(response.data);
            })
            .catch((error) => console.log(error));
        })
        .catch((error) => console.log(error));
    },
  },
  mounted() {
    axios
      .get("http://127.0.0.1:8000/api/rekap")
      .then((response) => {
        console.log(response.data);
        this.getRekaps(response.data);
      })
      .catch((error) => console.log(error));
  },
};
</script>

<style></style>