<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <h1 class="text-white">Tambah data penjaga</h1>
        </div>
      </div>
    </base-header>
  </div>

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <card shadow type="secondary">
          <template v-slot:header>
            <div class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Isikan informasi penjaga gedung</h3>
                </div>
                <!-- <div class="col-4 text-right">
                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                  </div> -->
              </div>
            </div>
          </template>

          <form v-on:submit.prevent>
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <base-input
                    alternative=""
                    label="KTP"
                    type="number"
                    placeholder="KTP"
                    input-classes="form-control-alternative"
                  >
                    <input
                      type="number"
                      class="form-control"
                      placeholder="KTP"
                      v-model="penjaga.ktp"
                    />
                  </base-input>
                </div>
                <div class="col-lg-3">
                  <base-input
                    alternative=""
                    label="No. HP"
                    type="number"
                    placeholder="081xxx"
                    input-classes="form-control-alternative"
                  >
                    <input
                      type="number"
                      class="form-control"
                      placeholder="081xxx"
                      v-model="penjaga.nomor_hp"
                    />
                  </base-input>
                </div>
                <div class="col-lg-3">
                  <base-input
                    alternative=""
                    label="Jenis Kelamin"
                    placeholder="L / P"
                    input-classes="form-control-alternative"
                  >
                    <select
                      class="custom-select"
                      v-model="penjaga.jenis_kelamin"
                    >
                      <option disabled value="asd">Pilih jenis kelamin</option>
                      <option value="Laki-laki">Laki-laki</option>
                      <option value="Perempuan">Perempuan</option>
                    </select>
                  </base-input>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <base-input
                    alternative=""
                    label="Nama"
                    placeholder="Nama lengkap"
                    input-classes="form-control-alternative"
                  >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nama lengkap"
                      v-model="penjaga.nama_penjaga"
                    />
                  </base-input>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <base-input
                    alternative=""
                    label="Tempat Lahir"
                    placeholder="tempat lahir"
                    input-classes="form-control-alternative"
                  >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tempat lahir"
                      v-model="penjaga.tempat_lahir"
                    />
                  </base-input>
                </div>
                <div class="col-lg-6">
                  <base-input
                    alternative=""
                    type="date"
                    label="Tanggal Lahir"
                    placeholder="dd/mm/yy"
                    input-classes="form-control-alternative"
                  >
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Tanggal lahir"
                      v-model="penjaga.tanggal_lahir"
                    />
                  </base-input>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <base-input
                    alternative=""
                    label="Alamat"
                    placeholder="Alamat"
                    input-classes="form-control-alternative"
                  >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Alamat"
                      v-model="penjaga.alamat"
                    />
                  </base-input>
                </div>
              </div>
              <div class="row">
                <div class="col text-right">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    @click="postPenjaga"
                  >
                    Tambah Penjaga
                  </button>
                </div>
              </div>
              <hr class="my-4" />
              <h3>{{ penjaga }}</h3>
            </div>
          </form>
        </card>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Tambah Penjaga",
  components: {},
  data() {
    return {
      penjaga: {},
    };
  },
  methods: {
    postPenjaga() {
      console.log(this.penjaga);
      axios
        .post("http://127.0.0.1:8000/api/penjaga", this.penjaga)
        .then(() => {
          console.log("post berhasil");
          this.$router.push({ path: "/penjaga" });
        })
        .catch((err) => console.log(err));
    },
  },
  mounted() {},
};
</script>
<style></style>
